<!-- fxLayout="column" fxLayoutAlign="start center" fxFlexFill  | pe-toolbar: fxFlex.xs="10%" fxFlex.gt-xs="10%" | router-outlet div: fxFlex.xs="80%" fxFlex.gt-xs-->
<div>
    <pe-toolbar></pe-toolbar>
    <div>
        <router-outlet></router-outlet>
    </div>
    <!--  </mat-sidenav-container> -->
    <footer class="footer mat-caption flex justify-between">
        <p>{{ appName }} Version {{ ver }}</p>
        <p>
            Problems? contact
            <a href="mailto:admin@pitcheval.com">the admin</a>
        </p>
        <p><a routerLink="/landing/privacy">Privacy Statement</a></p>
        <p>&copy; 2018-2021 Todd Warren</p>
    </footer>
</div>
