<mat-toolbar color="primary" class="flex justify-between overflow-hidden">
    <div class="flex items-center">
        <a mat-button routerLink="/" class="flex items-center">
            <img class="hidden md:flex" height="50px" width="170px" src="/assets/images/pitcheval_logo_small.png" />
            <img class="md:hidden" height="50px" src="/assets/icons/android-chrome-192x192.png" />
        </a>
        <button class="lg:hidden" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <a routerLink="/class/new" mat-menu-item>New Class</a>
            <a routerLink="/class" mat-menu-item>Class List</a>
            <a routerLink="/profile/users" mat-menu-item>Users</a>
            <a routerLink="/judgesession" mat-menu-item>Judge</a>
            <button mat-menu-item>Sessions</button>
            <a routerLink="/summary" mat-menu-item>Results</a>
            <a mat-menu-item routerLink="/session/questionaire-overview">Questionnaire</a>
        </mat-menu>
        <div class="hidden lg:flex">
            <a routerLink="/class/new" mat-button>New Class</a>
            <a routerLink="/class" mat-button>Class List</a>
            <a routerLink="/profile/users" mat-button>Users</a>
            <a *ngIf="isLoggedIn" routerLink="/judgesession" mat-button>Judge</a>
            <button *ngIf="isLoggedIn && (isAdmin || isFaculty)" mat-button>
                Sessions
            </button>
            <a *ngIf="isLoggedIn && (isAdmin || isFaculty)" routerLink="/summary" mat-button>Results</a>
            <a *ngIf="isLoggedIn && (isAdmin || isFaculty)" mat-button
                routerLink="/session/questionaire-overview">Questionnaire</a>
        </div>
    </div>
    <div>
        <pe-profilewidget></pe-profilewidget>
    </div>
</mat-toolbar>
