<mat-toolbar color="primary" class="flex justify-between overflow-hidden">
    <div class="flex items-center">
        <a mat-button routerLink="/" class="flex items-center">
            <img class="hidden md:flex" height="50px" width="170px" src="/assets/images/pitcheval_logo_small.png" />
            <img class="md:hidden" height="50px" src="/assets/icons/android-chrome-192x192.png" />
        </a>
        <button class="lg:hidden" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <a routerLink="/class/new" mat-menu-item>New Class</a>
            <a routerLink="/users" mat-menu-item>Users</a>
        </mat-menu>
        <div class="hidden lg:flex">
            <a routerLink="/class/new" mat-button>New Class</a>
            <a routerLink="/users" mat-button>Users</a>
        </div>
    </div>
    <div>
        <pe-profilewidget></pe-profilewidget>
    </div>
</mat-toolbar>
