<div style="height: 16px"></div>
<div class="content flex flex-wrap">
    <mat-card class="headline">
        <mat-card-header fxLayout="row wrap">
            <div>
                <img class="hero w-full" src="/assets/images/pitcheval_big_hero_evaluate.png" />
            </div>
        </mat-card-header>
        <mat-card-content>
            <p>
                The pitch evaluator makes it easy to provide feedback for team
                presentations--whether teams are presenting online over technologies
                like zoom, or in person. Judges, coaches, faculty members and students
                can give feedback. Teams can instantly view feedback and numeric results
                from judges, coaches, faculty, and other students. Faculty can create
                and manage multiple presentation sessions throughout a class or cohort
                experience. Bulit in reporting makes it easy to see results; and they
                can be exported to a CSV file.
            </p>
        </mat-card-content>
    </mat-card>
</div>
<div style="height: 16px"></div>
<div class="content grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <mat-card>
        <mat-card-header class="flex flex-col">
            <img class="w-full h-60" src="/assets/images/student_home.svg" />
            <h3 class="text-xl font-bold">Students and Teams</h3>
        </mat-card-header>
        <mat-card-content>
            <p>
                Student teams can review feedback from faculty and advisors who view
                presentations. Students can also provide comments and feedback to other
                teams as part of the process.
            </p>
            <p>
                Students can login using their google email account. If you are student
                judging a session, after you login you may see a bar just below the menu
                toolbar to select the name of the session. Your faculty member will give
                you a session wide student judging password to let you in. You will be
                able to identify your team during this process
            </p>
            <p>
                Student team members can build out their own team page, with relevant
                links and information for judges on their own Team page.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header class="flex flex-col">
            <img class="w-full h-70" src="/assets/images/prof_at_blackboard.svg" />
            <h3 class="text-xl font-bold">Faculty</h3>
        </mat-card-header>
        <mat-card-content>
            <p>
                Faculty can create questionnaires that can be used across multiple pitch
                sessions and classes. Quickly create teams. Let judges and students 'opt
                in' automatically--no need to manage a roster of students, or keep track
                of judge's email addresses. Pitch sessions can scale to hundreds of
                students and judges. View results quickly across teams and export to a
                CSV file.
            </p>
            <p>
                Teams can build a simple page that explains their team to the judges.
                After evaluation, teams can view their own results automatically,
                including comments from faculty, judges, and classmates.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header class="flex flex-col">
            <img class="w-full h-60" src="/assets/images/audience_home.svg" />
            <h3 class="text-xl font-bold">Judges</h3>
        </mat-card-header>
        <mat-card-content>
            <p>
                Login using your google account and evaluate a pitch session. Rate and
                stack rank teams. Leave comments for teams, and view more information
                about teams, team members, and sessions.
            </p>
        </mat-card-content>
    </mat-card>
</div>
